*.exe
*.dll
*.pdb
packages/

*.user
*.suo
*.sln.docstates
*.vs/

obj/
bin/
*.sw?
*~
*.tmp

App_Data/
App_Start/
AppHarbor/

*.idea/
.vscode/
*.sln.DotSettings

[Tt]humbs.db
*.userprefs
*.cache
*.resharper

*.log
logs/
*.log.*
*.trx
*.docx
doc/
docs/

.csproj
*.nupkg
